/*glavni meni*/
#menu{
	
	height:800px;
	width:100%;
	
}
#menu > ul > li{

	writing-mode:tb-rl;
	float:left;
	list-style:none;
	font-size:15px;
	padding:0;
}
a{
	text-decoration:none;
	color:black;
}
#menu > ul > li :hover{
	color:red;

    writing-mode:tb-rl;
}
div #menu, #pitanja{

    width: 90%;
	float:left;
}
