/*glavni meni*/
#menu{
	
	height:800px;
	width:100%;
	display:block;
	
}
#menu > ul > li{


	float:left;
	list-style:none;
	font-size:15px;
	padding:0;
	writing-mode:tb-rl;

}
#pitanja{
	float:left;
}
a{
	text-decoration:none;
	color:black;
}
#menu > ul > li :hover{
	color:red;

}