/*glavni meni*/
#menu{
	
	height:800px;
	width:100%;
	
}
#menu > ul > li{
	margin-top:20px;
	color:black;
	float:left;
	list-style:none;
/*margin-left:20px;
margin-right:20px;*/
	font-size:15px;
	padding:0;
	/*transform:rotate(90deg)*/
}
a{
	text-decoration:none;
	color:black;
}
#menu > ul > li :hover{
	color:red;
	font-size:20px;
}