table {
	font-family: arial, sans-serif;
	width: 100%;
}

#hj
{
	text-align: center;
}
td, th {
	border: none;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}

#pitanja {
	width: 50%;
	float: left;
	width: 100%;

}


#menu{

	display: inline-block;
	border:none;
	float:left;
	letter-spacing: 1.22px;
	font-size:15px;
	width: 100%;
}
#menu > ul > li{

	color:black;
	float:left;
	list-style:none;
	display:block;
	font-size:15px;
	padding:0;

	letter-spacing: 1.22px;
}
a{
	text-decoration:none;
	color:black;
}
#menu > ul > li :hover{
	color:blue;
	font-size:11px;

}

